<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <p:fieldset legend="Turma" toggleable="true">
					   <h:panelGrid style="margin: 0 auto;">
						   	<h:panelGrid columns="4" id="inputs" cellpadding="5">
							    	<p:outputLabel value="Código da Turma:"/>
							    	<p:inputText value="#{cadastroTurmaView.codTurma}" readonly="#{cadastroTurmaView.modoEditar}"/>
							    	
							    	<p:outputLabel value="Ano da Turma:" />
							    	<p:inputMask mask="9999" value="#{cadastroTurmaView.anoTurma}" readonly="#{cadastroTurmaView.modoEditar}"/>
							    	
							    	<p:outputLabel value="Nome da Turma:"/>
							    	<p:inputText value="#{cadastroTurmaView.nomeTurma}"/>
							    	
							    	<p:outputLabel value="Curso:" />
							    	<p:selectOneMenu value="#{cadastroTurmaView.codCurso}">
							    		<f:selectItems value="#{cadastroTurmaView.cursos}" var="c" itemLabel="#{c.nome}" itemValue="#{c.codCurso}"/>
							    	</p:selectOneMenu> 	
							   </h:panelGrid>
							   <h:panelGrid style="text-align: center; width:100%;">
							   		<p:row>
								   		<p:commandButton value="Cadastrar" actionListener="#{cadastroTurmaView.cadastrar()}" update="@form" rendered="#{!cadastroTurmaView.modoEditar}"/>
									   	<p:commandButton value="Modificar" actionListener="#{cadastroTurmaView.modificar()}" update="@form" rendered="#{cadastroTurmaView.modoEditar}"/>
							   			<p:commandButton value="Limpar">
							   				<p:ajax resetValues="true" update="inputs"/>
							   			</p:commandButton>
									</p:row>
							    </h:panelGrid>
						  </h:panelGrid>
			   </p:fieldset>
			   <p:commandButton value="Voltar" action="#{cadastroTurmaView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
		</ui:define>
	</ui:composition>
</html>