<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid style="margin: 0 auto;">
				   <h:panelGrid columns="2" id="inputs">
					   	<p:outputLabel value="*Codigo da Disciplina:"/>
					   	<p:inputText value="#{cadastroDisciplinaView.cod}" readonly="#{cadastroDisciplinaView.atualizando}"/>
					   	<p:outputLabel value="*Nome da Disciplina:"/>
					   	<p:inputText value="#{cadastroDisciplinaView.nome}"/>
				   </h:panelGrid>
				   <h:panelGrid style="text-align: center; width:100%;">
					    <p:row>
						    <p:commandButton value="Cadastrar" actionListener="#{cadastroDisciplinaView.cadastrar()}" rendered="#{!cadastroDisciplinaView.atualizando}"/>
						   	<p:commandButton value="Atualizar" actionListener="#{cadastroDisciplinaView.atualizar()}" rendered="#{cadastroDisciplinaView.atualizando}"/>
						   	<p:commandButton value="Limpar">
						   		<p:ajax resetValues="true" update="inputs"/>
						   	</p:commandButton>
					   	</p:row>
				   	</h:panelGrid>
			   	</h:panelGrid>
			   <p:commandButton value="Voltar" action="#{cadastroDisciplinaView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
		</ui:define>
	</ui:composition>
</html>