<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtros" cellspacing="5">
			    	<p:outputLabel value="Código da Disciplina:"/>
			    	<p:inputText value="#{gestaoDisciplinaView.codDisciplina}"/>
			    	
			    	<p:outputLabel value="Nome da Disciplina:" />
			    	<p:inputText value="#{gestaoDisciplinaView.nomeDisciplina}"/>
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">		
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{gestaoDisciplinaView.pesquisar()}" update="gridDisciplinas"/>
				   		<p:commandButton value="Limpar">
				   			<p:ajax resetValues="true" update="filtros"/>
				   		</p:commandButton>
			   		</p:row>
		   		</h:panelGrid>
		   		</h:panelGrid>
			   
			   
			   <br/><br/>
			   <br/><br/>
			   <h:panelGrid id="gridDisciplinas">
			   		<p:dataTable value="#{gestaoDisciplinaView.disciplinas}" var="disciplina" selectionMode="multiple" selection="#{gestaoDisciplinaView.disciplinasSelecionadas}"
			   		rowKey="#{disciplina.codigoDisciplina}" emptyMessage="Nenhuma Disciplina" rows="10" paginator="true" paginatorPosition="bottom">
			   			<p:ajax event="rowSelect" update="@form:gridDisciplinas"/>
			   			<p:ajax event="rowUnselect" update="@form:gridDisciplinas"/>
			   			
			   			<p:column headerText="Código da Disciplina" style="text-align:center" width="25%">
			   				<h:outputText value="#{disciplina.codigoDisciplina}" />
			   			</p:column>
			   			
			   			<p:column headerText="Nome da Disciplina" style="text-align:center" width="60%">
			   				<h:outputText value="#{disciplina.nome}" />
			   			</p:column>
			   			
			   			<f:facet name="footer">
			   				<p:commandButton value="Cadastrar" actionListener="#{gestaoDisciplinaView.cadastrarDisciplina()}"/>
			   				<p:commandButton value="Deletar" onclick="PF('confirmarDeletar').show();" disabled="#{gestaoDisciplinaView.nenhumaDisciplinaSelecionada()}"/>
			   				<p:commandButton value="Detalhar" action="#{gestaoDisciplinaView.detalharDisciplina()}" disabled="#{!gestaoDisciplinaView.umaDisciplinaSelecionada()}"/>
			   				<p:commandButton value="Editar" action="#{gestaoDisciplinaView.modificarDisciplina()}" disabled="#{!gestaoDisciplinaView.umaDisciplinaSelecionada()}"/>
			   			</f:facet>
			   		
			   		</p:dataTable>
			   		
			   		<p:dialog widgetVar="confirmarDeletar" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
			   			<p:outputLabel value="Deseja realmente excluir a Disciplina?"/>
			   			<p:commandButton value="Sim" actionListener="#{gestaoDisciplinaView.deletarDisciplina()}"  update="@form"/>
			   			<p:commandButton value="Não" onclick="PF('confirmarDeletar').hide();"/>
			   		</p:dialog>
			   </h:panelGrid>
			   
			   
		</ui:define>
	</ui:composition>
</html>