<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
		
				<f:event listener="#{gestaoAtividadeDisponivelView.init()}" type="preRenderView"></f:event>
			   <h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtros" cellspacing="5">
			    	
			    	<p:outputLabel value="Código da Atividade:"/>
			    	<p:inputText value="#{gestaoAtividadeDisponivelView.codAtividade}"/>
			    	
			    	<p:outputLabel value="Turma:"/>
			   		<p:selectOneMenu value="#{gestaoAtividadeDisponivelView.codTurma}">
			    		<f:selectItem itemLabel="Selecione" itemValue=""/>
			    		<f:selectItems value="#{gestaoAtividadeDisponivelView.disciplinasPorTurma.keySet()}" var="turma" itemLabel="#{turma.id.codigoTurma}" itemValue="#{turma.id.codigoTurma}"/>
			    		<p:ajax event="change" update="filtros"/>
			    	</p:selectOneMenu>

			   		<p:outputLabel value="Ano da Turma:"/>
			   		<p:selectOneMenu value="#{gestaoAtividadeDisponivelView.anoTurma}">
			    		<f:selectItem itemLabel="Selecione" itemValue="#{-1}"/>
			    		<f:selectItems value="#{gestaoAtividadeDisponivelView.anosDaTurmaSelecionada()}"/>
			    		<p:ajax event="change" update="filtros"/>
			    	</p:selectOneMenu>
			    	
			    	<p:outputLabel value="Disciplina:"/>
			    	<p:selectOneMenu value="#{gestaoAtividadeDisponivelView.codDisciplina}">
			    		<f:selectItem itemLabel="Selecione" itemValue=""/>
			    		<f:selectItems value="#{gestaoAtividadeDisponivelView.disciplinasDaTurmaSelecionada()}" var="d" itemLabel="#{d.nome}" itemValue="#{d.codigoDisciplina}"/>
			    	</p:selectOneMenu>
			    	
			   		<p:outputLabel value="Area de Atividade:"/>
			   		<p:selectOneMenu value="#{gestaoAtividadeDisponivelView.areaAtividade}">
			    		<f:selectItem itemLabel="Selecione" itemValue="#{0}"/>
			    		<f:selectItems value="#{gestaoAtividadeDisponivelView.todasAsAreasDeAtividades}" var="areaAt" itemLabel="#{areaAt.areaAtividade}" itemValue="#{areaAt.id}"/>
			    	</p:selectOneMenu>
			    	
			    	<p:outputLabel value="Disponível:"/>
			   		<p:selectOneRadio value="#{gestaoAtividadeDisponivelView.disponivel}">
			   			<f:selectItem itemLabel="Todos" itemValue="#{-1}"/>
			   			<f:selectItem itemLabel="Sim" itemValue="#{1}"/>
			   			<f:selectItem itemLabel="Não" itemValue="#{0}"/>
			   		</p:selectOneRadio>
			   		
			   		<p:outputLabel value="Data de Abertura:"/>
			   		<p:calendar value="#{gestaoAtividadeDisponivelView.dataLiberacao}" pattern="dd/MM/yyyy" mask="99/99/9999" navigator="true" immediate="true" timeZone="America/Sao_Paulo"/>
			   		
			   		<p:outputLabel value="Data de Encerramento:"/>
			   		<p:calendar value="#{gestaoAtividadeDisponivelView.dataEncerramento}" pattern="dd/MM/yyyy" mask="99/99/9999" navigator="true" immediate="true" timeZone="America/Sao_Paulo"/>
			   		
			   </h:panelGrid>
			   
			   	<h:panelGrid style="text-align: center; width:100%;">
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{gestaoAtividadeDisponivelView.pesquisar()}" update="gridAtividades"/>
			   			<p:commandButton value="Limpar">
			   				<p:ajax resetValues="true" update="filtros"/>
			   			</p:commandButton>
			    	</p:row>
			    </h:panelGrid>
			    </h:panelGrid>
			   
			   
			   <br/><br/>
			   <br/><br/>
			    <p:panel id="gridAtividades" style="border:none;overflow-x:auto;">
			   		<p:dataTable value="#{gestaoAtividadeDisponivelView.atividades}" var="atividade" selectionMode="multiple" selection="#{gestaoAtividadeDisponivelView.atividadesSelecionadas}"
			   		rowKey="#{atividade.id}" emptyMessage="Nenhuma atividade" rows="10" paginator="true" paginatorPosition="bottom">
			   			<p:ajax event="rowSelect" update="@form:gridAtividades"/>
			   			<p:ajax event="rowUnselect" update="@form:gridAtividades"/>
			   			
			   			<p:column headerText="Código da Atividade" style="text-align:center; width:180px;">
			   				<h:outputText value="#{atividade.id.codAtividade}" />
			   			</p:column>
			   			
			   			<p:column headerText="Turma" style="text-align:center; width:100px;">
			   				<h:outputText value="#{atividade.id.codTurma}" />
			   			</p:column>

			   			<p:column headerText="Ano da Turma" style="text-align:center; width:100px;">
			   				<h:outputText value="#{atividade.id.anoTurma}" />
			   			</p:column>
			   			
			   			<p:column headerText="Disciplina" style="text-align:center; width:100px; ">
			   				<h:outputText value="#{atividade.id.codDisciplina}" />
			   			</p:column>
			   			
			   			<p:column headerText="Area Atividade" style="text-align:center; width:120px;">
			   				<h:outputText value="#{atividade.id.areaAtividade}" />
			   			</p:column>
			   			
			   			<p:column headerText="Disponivel" style="text-align:center" width="100px;">
			   				<h:outputText value="#{gestaoAtividadeDisponivelView.intDisponivelToString(atividade)}" />
			   			</p:column>
		
			   			<p:column headerText="Data Liberação" style="text-align:center;width:150px;">
			   				<h:outputText value="#{atividade.dataLiberacao}">
			   					<f:convertDateTime pattern="dd/MM/yyyy"/>
			   				</h:outputText>
			   			</p:column>
			   			
			   			<p:column headerText="Data Encerramento" style="text-align:center;width:150px;">
			   				<h:outputText value="#{atividade.dataEncerramento}">
			   					<f:convertDateTime pattern="dd/MM/yyyy"/>
			   				</h:outputText>
			   			</p:column>
			   			
			   			<f:facet name="footer">
			   				<p:commandButton value="Cadastrar" actionListener="#{gestaoAtividadeDisponivelView.cadastrarAtividade()}"/>
			   				<p:commandButton value="Deletar" oncomplete="PF('confirmarDeletar').show();" disabled="#{!gestaoAtividadeDisponivelView.temAtividadeSelecionada()}"/>
			   				<p:commandButton value="Detalhar" actionListener="#{gestaoAtividadeDisponivelView.detalharAtividade()}" disabled="#{!gestaoAtividadeDisponivelView.temUmaAtividadeSelecionada()}"/>
			   				<p:commandButton value="Editar" actionListener="#{gestaoAtividadeDisponivelView.modificarAtividade()}" disabled="#{!gestaoAtividadeDisponivelView.temUmaAtividadeSelecionada()}"/>
			   			</f:facet>
			   		
			   		</p:dataTable>
			   		</p:panel>

			   <p:dialog id="confirmarDeletarID" widgetVar="confirmarDeletar" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente excluir a atividade?"/>
		   			<p:commandButton value="Sim" actionListener="#{gestaoAtividadeDisponivelView.deletarAtividade()}" update="@form:gridAtividades" oncomplete="PF('confirmarDeletar').hide();"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarDeletar').hide();"/>
		   		</p:dialog> 
		</ui:define>
	</ui:composition>
</html>