<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtros" cellspacing="5">
			    	
			    	<p:outputLabel value="RA do Aluno:"/>
			    	<p:inputText value="#{gestaoAlunoView.raALuno}" onkeydown="return apenasNumero(event)" immediate="true"/>
			    	
			    	<p:outputLabel value="Nome do Aluno:"/>
			    	<p:inputText value="#{gestaoAlunoView.nomeAluno}"/>
			    	
			   		<p:outputLabel value="Email:"/>
			   		<p:inputText value="#{gestaoAlunoView.emailAluno}"/>

			   		<p:outputLabel value="Data de Nascimento:"/>
			   		<p:calendar value="#{gestaoAlunoView.dtNascimentoAluno}" pattern="dd/MM/yyyy" mask="99/99/9999" navigator="true" immediate="true"/>

			   		<p:outputLabel value="Sexo:"/>
			   		<p:selectOneMenu value="#{gestaoAlunoView.sexoAluno}">
			   			<f:selectItem itemLabel="Ambos" itemValue="A"/>
			   			<f:selectItem itemLabel="Masculino" itemValue="M"/>
			   			<f:selectItem itemLabel="Feminino" itemValue="F"/>
			   		</p:selectOneMenu>
			   </h:panelGrid>
			   
			   	<h:panelGrid style="text-align: center; width:100%;">
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{gestaoAlunoView.pesquisar()}" update="gridAlunos"/>
			   			<p:commandButton value="Limpar">
			   				<p:ajax resetValues="true" update="filtros"/>
			   			</p:commandButton>
			    	</p:row>
			    </h:panelGrid>
			    </h:panelGrid>
			   <br/><br/>
			   <br/><br/>
			    <p:panel id="gridAlunos" style="border:none;overflow-x:auto;">
			   		<p:dataTable value="#{gestaoAlunoView.alunos}" var="aluno" selectionMode="multiple" selection="#{gestaoAlunoView.alunosSelecionados}"
			   		rowKey="#{aluno.RA}" emptyMessage="Nenhum Aluno" rows="10" paginator="true" paginatorPosition="bottom">
			   			<p:ajax event="rowSelect" update="@form:gridAlunos"/>
			   			<p:ajax event="rowUnselect" update="@form:gridAlunos"/>
			   			
			   			<p:column headerText="RA do Aluno" style="text-align:center; width:110px;">
			   				<h:outputText value="#{aluno.RA}" />
			   			</p:column>
			   			
			   			<p:column headerText="Nome do Aluno" style="text-align:center; width:300px; ">
			   				<h:outputText value="#{aluno.nome}" />
			   			</p:column>
			   			
			   			<p:column headerText="Email" style="text-align:center; width:300px;">
			   				<h:outputText value="#{aluno.email}" />
			   			</p:column>
		
			   			<p:column headerText="Data Nascimento" style="text-align:center;width:150px;">
			   				<h:outputText value="#{aluno.dataNasc}">
			   					<f:convertDateTime pattern="dd/MM/yyyy"/>
			   				</h:outputText>
			   			</p:column>
			   			
			   			<p:column headerText="Sexo" style="text-align:center;width:50px;">
			   				<h:outputText value="#{aluno.sexo == 'M' ? 'Masc.' : 'Fem.'}" />
			   			</p:column>
			   			
			   			<f:facet name="footer">
			   				<p:commandButton value="Cadastrar" actionListener="#{gestaoAlunoView.cadastrarAluno()}"/>
			   				<p:commandButton value="Deletar" oncomplete="PF('confirmarDeletar').show();" disabled="#{!gestaoAlunoView.temAlunoSelecionado()}" update="@form:confirmarDeletarID"/>
			   				<p:commandButton value="Detalhar" actionListener="#{gestaoAlunoView.detalharAluno()}" disabled="#{!gestaoAlunoView.temUmAlunoSelecionado()}"/>
			   				<p:commandButton value="Editar" actionListener="#{gestaoAlunoView.modificarAluno()}" disabled="#{!gestaoAlunoView.temUmAlunoSelecionado()}"/>
			   			</f:facet>
			   		
			   		</p:dataTable>
			   		</p:panel>

			   <p:dialog id="confirmarDeletarID" widgetVar="confirmarDeletar" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente excluir #{gestaoAlunoView.infoAlunosSelecionados()}"/>
		   			<p:commandButton value="Sim" actionListener="#{gestaoAlunoView.deletarAluno()}" update="@form"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarDeletar').hide();"/>
		   		</p:dialog> 
		</ui:define>
	</ui:composition>
</html>