<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			
			
			
		<h:panelGrid style="margin:0 auto;">
		   <h:panelGrid columns="2" id="inputs">
			   	<p:outputLabel value="Tipo Dado Importado:"/>
			   	<p:selectOneMenu value="#{importarDadosView.tipoImportado}">
					<f:selectItem itemLabel="Pessoa" itemValue="#{0}" />
					<f:selectItem itemLabel="Curso" itemValue="#{1}" />
					<f:selectItem itemLabel="Turma" itemValue="#{2}" />
					<f:selectItem itemLabel="Disciplina" itemValue="#{3}" />
				</p:selectOneMenu>
				<p:fileUpload value="#{importarDadosView.file}" mode="simple" label="Selecionar"/>
				
		   </h:panelGrid>
		   <h:panelGrid style="text-align: center; width:100%;">
			   <p:row>
			   		<p:commandButton value="Importar" actionListener="#{importarDadosView.importarArquivo()}" ajax="false" onclick="PF('loading').show();" oncomplete="PF('loading').hide();"/>
			   </p:row>
		   </h:panelGrid>
		   </h:panelGrid>
		   <p:dialog modal="true" resizable="false" draggable="false" closable="false" closeOnEscape="false"  maximizable="false" minimizable="false" widgetVar="loading"
		   	showEffect="fade" showHeader="false" style="background:transparent; border:none;" styleClass="loadingModal">
		   		<p:graphicImage value="/resources/img/load.gif"/>
		   </p:dialog>
		</ui:define>
	</ui:composition>
</html>