<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			<f:event listener="#{testeView.init()}" type="preRenderView"></f:event>
			<p:selectOneMenu value="#{testeView.temaSelecionado}">
				<f:selectItem itemLabel="Choose Theme" />
				<f:selectItems value="#{testeView.temas}" var="tema" itemLabel="#{tema.displayName}" itemValue="#{tema.name}"/>
			</p:selectOneMenu>
			
			<p:inputText>
				<f:convertNumber integerOnly="true"/>
			</p:inputText>
			
			<br/>
			<br/>
			<br/>
			<p:commandButton value="testar" actionListener="#{testeView.submit()}" icon="icon-home1"/>
		</ui:define>
	</ui:composition>
</html>